{
"names" : [
{ "mode" : "alts" },
  [
   { "mode" : "serie" },
   [ { "mode" : "alts" }, 
	"Ja", "Je", "Jo",
	"Ja", "Je", "Jo",

	"Jou",  
	"Jal", "Jel", "Jil", "Jol", "Jul", 
	"Jan", "Jen", "Jin", "Jon", "Jun",
	"Jah", "Jeh", "Joh", "Juh",
	"Jha", "Jhe", "Jho"  ],
	  
	  
   [ { "mode" : "alts" }, 
	"za", "ze", "zi", "zo", "zu", "zoo", "zy", "zou", "zoi", "zii",
	"zah", "zeh", "zih", "zoh", "zuh", 
	" Za", " Ze", " Zi", " Zo", " Zu", " Zy", " Zou", " Zoi", " Zii",
	"zan", "zen", "zon", "zun", "zyn", 
	" Zan", " Zen", " Zon", " Zun", " Zyn", 
	"zam", "zem", "zim", "zom", "zum", "zoom", "zym",
	"zay", "zey", "ziy", "zoy", "zuy",  
	"zal", "zel", "zil", "zol", "zul", "zool", "zyl", "zoul", "zl", "ziil", 
	
	"ha", "he", "hi", "ho", "hu", "hoo", "hy", "hou", "hoi", "hii",
	
	"ra", "re", "ri", "ro", "ru", "roo", "ry", "rou", "roi", "rii",
	
	"sha", "she", "shi", "sho", "shu", "shoo", "shy", "shou", "shoi", "shii",
	
	"pha", "phe", "phi", "pho", "phu", "phy", "phou", "phoi", "phii",
	"phan", "phen", "phin", "phon", "phun", "phyn", 
	
	"bla", "ble", "bli", "blo", "blu", "bloo", "bly", "blou", "bloi", "blii",
	"ba", "be", "bi", "bo", "bu", "boo", "by", "bou", "boi", "bii",
	
	"la", "le", "li", "lo", "lu", "ly", "lii",
	"la", "le", "li", "lo", "lu", "ly", "lii",
	
	"el", "il", "ol", "ul", "ul", "iil",
	"z", "sh", "ph"]
    ],
	[
      { "mode" : "serie" },
      [ { "mode" : "alts" }, 
	"Jack",
	"Jacob",
	"Jade",
	"Jake",
	"James",
	"Janet",
	"Jarold",
	"Jasmine",
	"Jason",
	"Jasper",
	"Javier",
	"Jay",
	"Jeff",
	"Jelly",
	"Jelphonzo",
	"Jen",
	"Jeorge",
	"Jeralt",
	"Jeremy",
	"Jerome",
	"Jerry",
	"Jessica",
	"Jie", 
	"Jill",
	"Jo",
	"Joan",
	"Joel",
	"Joey",
	"John",
	"Jojo",
	"Jonas",
	"Jonny",
	"Joseph",
	"Josephine",
	"Joshua",
	"Jovi",
	"Joyce",
	"Judith",
	"Jules",
	"Julia",
	"Juliet",
	"Jullie",
	"Jun",
	"Justine"
    ]
	
  ],
  [
      { "mode" : "serie", "titleCase" : true },
      [ { "mode" : "markov", "source" : "scyphojel", "targetLength" : [3, 7] } ]
    ]
	]
}
